  .container {
    color: black;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
  }

  #images {
    float: right;
    position: absolute; 

  }

  h1 {

    font-family: cursive;
    font-size: 60px;
  }

  #form {
    font-family: cursive;

  }



  
  

  